<div>
    <app-header/>
    <div class="surface-section px-4 py-6 md:px-6 lg:px-8">
        <div class="text-700 text-center">
            <div class="text-blue-600 font-bold mb-3"><i class="pi pi-trophy"></i>&nbsp;CREATE A TOURNAMENT</div>
            <div class="text-900 font-bold text-5xl mb-3">Your Tournament. Your Way.</div>
            <div class="text-700 text-2xl mb-5">Professionalise your tournaments & leagues with scheduling and live score management.</div>
            <button pButton pRipple label="Get Started" icon="pi pi-trophy" class="font-bold px-5 py-3 p-button-raised p-button-rounded white-space-nowrap"></button>
        </div>
    </div>
    <app-footer/>
</div>