<p-table
    #dt2
    [value]="activity"
    dataKey="id"
    [rows]="10"
    [rowsPerPageOptions]="[10, 25, 50]"
    [loading]="loading"
    [paginator]="true"
    [globalFilterFields]="['name']"
    [tableStyle]="{ 'min-width': '75rem' }"
    selectionMode="single"
    [(selection)]="selectedActivity"
    (onRowSelect)="navigateToActivity($event.data)"
    >
    <ng-template pTemplate="caption">
        <div class="flex justify-between items-center">
            <div class="text-blue-600 font-semibold mt-3 text-left">Search and click on any sport!</div>
            <p-iconField iconPosition="left" class="ml-auto">
                <p-inputIcon>
                    <i class="pi pi-search"></i>
                </p-inputIcon>
                <input 
                    pInputText 
                    type="text" 
                    (input)="onGlobalFilter($event, dt2)" 
                    placeholder="Search keyword" />
            </p-iconField>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th style="width:22%">Sport</th>
        </tr>
        <tr>
            <th>
                <p-columnFilter 
                    type="text" 
                    field="name" 
                    placeholder="Search by name" 
                    ariaLabel="Filter Name" />
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-activity>
        <tr [pSelectableRow]="activity">
            <td>
                {{ activity.name }}
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="5">No Activities found.</td>
        </tr>
    </ng-template>
</p-table>