<div>
    <app-header/>
    <div class="grid grid-nogutter surface-section text-800">
        <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
            <section>
                <span class="block text-5xl font-bold mb-1">Every game. Every sport</span>
                <div class="text-7xl text-primary font-bold font-italic mb-3">SIMPLIFIED TOURNAMENT MANAGEMENT</div>
                <p class="mt-0 mb-4 text-700 line-height-3">League & tournament manager for organizers and bracket views for deeper fan engagement.</p>
                
                <button pButton pRipple label="Learn More" type="button" class="mr-3 p-button-raised"></button>
                <button pButton pRipple label="Live Demo" type="button" class="p-button-outlined"></button>
            </section>
        </div>
        <div class="col-12 md:col-6 bg-contain overflow-hidden">
            <img src="assets/hero.jpg" alt="Image" class="md:ml-auto block md:w-full" style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)">
        </div>
    </div>

    <app-footer/>
</div>