<div class="surface-section px-4 md:px-6 lg:px-8">
  <div class="py-5">
    <ul class="list-none p-0 m-0 flex align-items-center font-medium mb-3">
      <li>
        <a [routerLink]="['/tournament', tournament.id]" class="text-500 no-underline line-height-3 cursor-pointer">{{ tournament.name }}</a>
      </li>
      <li class="px-2">
        <i class="pi pi-angle-right text-500 line-height-3"></i>
      </li>
      <li>
        {{ event.name }}
      </li>
    </ul>
  </div>

  <div class="pb-4">
    <div class="text-700 text-center">
      <div class="text-blue-600 font-bold mb-3">WELCOME TO</div>
      <div class="text-900 font-bold text-5xl mb-3">
        {{ competition.name }}
        <span>- {{ competition.year }}</span>
      </div>
      <div class="text-700 text-2xl mb-5">
        <span>{{ event.name }}</span>
      </div>
    </div>
  </div>

  <div class="flex align-items-start flex-column lg:justify-content-between lg:flex-row mb-6">
    <div class="font-medium text-3xl text-900">Overall Results</div>
  </div>

  <div class="pb-6 text-center">
    <div class="grid">
      <div class="col-12 md:col-4 px-5">
        <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
          <i class="pi pi-trophy text-4xl text-gray-500"></i>
        </span>
        <div class="text-900 text-xl mb-3 font-medium">First Runners-Up</div>
        <span class="text-700 line-height-3">University of Moratuwa</span>
      </div>
      <div class="col-12 md:col-4 px-5">
        <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
          <i class="pi pi-trophy text-4xl text-yellow-600"></i>
        </span>
        <div class="text-900 text-xl mb-3 font-medium">Champions</div>
        <span class="text-700 line-height-3">University of Ruhuna</span>
      </div>
      <div class="col-12 md:col-4 px-5">
        <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
          <i class="pi pi-trophy text-4xl text-orange-200"></i>
        </span>
        <div class="text-900 text-xl mb-3 font-medium">Second Runners up</div>
        <span class="text-700 line-height-3">University of Colombo</span>
      </div>
    </div>
  </div>

  <div *ngIf="!loading">
    <p-tabView styleClass="tabview-custom">
      <p-tabPanel *ngFor="let stage of stages">
        <ng-template pTemplate="header">
          <div class="flex align-items-center gap-2">
            <span class="font-bold white-space-nowrap m-0">{{ stage.name }}</span>
          </div>
        </ng-template>
        
        <!-- Conditionally render components based on the stage type -->
        <ng-container [ngSwitch]="stage.type">
          <app-group-stage [eventId]="event.id" *ngSwitchCase="'group'"></app-group-stage>
          <app-knockout-stage [eventId]="event.id" *ngSwitchCase="'knockout'"></app-knockout-stage>
          <!-- Add other cases here if needed -->
          <p *ngSwitchDefault>Unknown stage type</p>
        </ng-container>
      </p-tabPanel>
    </p-tabView>
  </div>
</div>