<div>
    <p-table
    #dt2
    [value]="groupStage"
    dataKey="id"
    [rows]="10"
    [rowsPerPageOptions]="[10, 25, 50]"
    [loading]="loading"
    [paginator]="true"
    [globalFilterFields]="['team', 'w', 'l', 't', 's', '+/-']"
    [tableStyle]="{ 'min-width': '75rem' }"
>
        <ng-template pTemplate="caption">
            <div class="flex justify-between items-center">
                <div class="text-blue-600 font-semibold mt-3 text-left">Search and click on any event!</div>
                <p-iconField iconPosition="left" class="ml-auto">
                    <p-inputIcon>
                        <i class="pi pi-search"></i>
                    </p-inputIcon>
                    <input 
                        pInputText 
                        type="text"
                        (input)="onGlobalFilter($event, dt2)" 
                        placeholder="Search keyword" />
                </p-iconField>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width:22%">Team</th>
                <th style="width:22%">W</th>
                <th style="width:22%">L</th>
                <th style="width:22%">T</th>
                <th style="width:22%">S</th>
                <th style="width:22%">+/-</th>
            </tr>
            <tr>
                <th>
                    <p-columnFilter 
                        type="text" 
                        field="team" 
                        placeholder="Search by name" 
                        ariaLabel="Filter Name" />
                </th>
                <th>
                    <p-columnFilter 
                        type="text" 
                        field="w" 
                        placeholder="Search by gender" 
                        ariaLabel="Filter Gender" />
                </th>
                <th>
                    <p-columnFilter 
                    type="text" 
                    field="l" 
                    placeholder="Search by age group" 
                    ariaLabel="Filter Age Group" />
                </th>
                <th>
                    <p-columnFilter 
                    type="text" 
                    field="t" 
                    placeholder="Search by age group" 
                    ariaLabel="Filter Age Group" />
                </th>
                <th>
                    <p-columnFilter 
                    type="text" 
                    field="s" 
                    placeholder="Search by age group" 
                    ariaLabel="Filter Age Group" />
                </th>
                <th>
                    <p-columnFilter 
                    type="text" 
                    field="+/-" 
                    placeholder="Search by age group" 
                    ariaLabel="Filter Age Group" />
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-groupStage>
            <tr>
                <td>{{ groupStage.team }}</td>
                <td>{{ groupStage.w }}</td>
                <td>{{ groupStage.l }}</td>
                <td>{{ groupStage.t }}</td>
                <td>{{ groupStage.s }}</td>
                <td>{{ groupStage['+/-'] }}</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="empty">
            <tr>
                <td colspan="6" class="text-center">
                    No data found.
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="footer">
            <tr>
                <td colspan="6">
                    <div class="text-center">
                        <small>End of group stage data</small>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>